q {

	font-family: $font-quote;

	font-size: 5em;
	padding: 1em 0;

	display: block;


	&:before {
		content: '“';
	}
	&:after {
		content: '”';
	}

	line-height: 1em;

	@include text-shadow(#000 3px 3px);

	@media (max-width: 760px) {

		padding: 0;

	}

}